[submodule "public"]
	path = public
	url = https://github.com/HamishPierpont/hamishpierpont.github.io.git
	branch = master
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
